body {
    font-family: "Roboto Flex", Roboto;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
}

/* h1 {
    font-weight: var(--md-sys-typescale-display-small-font-weight);
    font-size: var(--md-sys-typescale-display-small-font-size);
    line-height: var(--md-sys-typescale-display-small-line-height);
    letter-spacing: var(--md-sys-typescale-display-small-letter-spacing);
}

h2 {
    font-weight: var(--md-sys-typescale-headline-medium-font-weight);
    font-size: var(--md-sys-typescale-headline-medium-font-size);
    line-height: var(--md-sys-typescale-headline-medium-line-height);
    letter-spacing: var(--md-sys-typescale-headline-medium-letter-spacing);
}

h3 {
    font-weight: var(--md-sys-typescale-title-large-font-weight);
    font-size: var(--md-sys-typescale-title-large-font-size);
    line-height: var(--md-sys-typescale-title-large-line-height);
    letter-spacing: var(--md-sys-typescale-title-large-letter-spacing);
}

h4 {
    font-weight: var(--md-sys-typescale-title-medium-font-weight);
    font-size: var(--md-sys-typescale-title-medium-font-size);
    line-height: var(--md-sys-typescale-title-medium-line-height);
    letter-spacing: var(--md-sys-typescale-title-medium-letter-spacing);
}

h5 {
    font-weight: var(--md-sys-typescale-label-large-font-weight);
    font-size: var(--md-sys-typescale-label-large-font-size);
    line-height: var(--md-sys-typescale-label-large-line-height);
    letter-spacing: var(--md-sys-typescale-label-large-letter-spacing);
}

h6 {
    font-weight: var(--md-sys-typescale-label-medium-font-weight);
    font-size: var(--md-sys-typescale-label-medium-font-size);
    line-height: var(--md-sys-typescale-label-medium-line-height);
    letter-spacing: var(--md-sys-typescale-label-medium-letter-spacing);
} */

section#typography {
    display: flex block;
    flex-direction: column;
    gap: 16px;


    >section {
        >div {
            border-color: var(--md-sys-color-outline-variant);
            border-style: solid;
            border-width: 0 1px 1px;
            border-bottom-left-radius: var(--md-sys-shape-corner-medium);
            border-bottom-right-radius: var(--md-sys-shape-corner-medium);
        }
    }

    h3 {
        background-color: var(--md-sys-color-primary-container);
        color: var(--md-sys-color-on-primary-container);
        padding: var(--md-sys-shape-corner-medium);
        border-top-left-radius: var(--md-sys-shape-corner-medium);
        border-top-right-radius: var(--md-sys-shape-corner-medium);
        border: 1px solid var(--md-sys-color-outline-variant);
    }

    p {
        margin: 0;
        padding-inline: var(--md-sys-shape-corner-medium);

        &:first-of-type {
            padding-block-start: var(--md-sys-shape-corner-medium);
        }

        &:last-of-type {
            padding-block-end: var(--md-sys-shape-corner-medium);
        }
    }
}
